# Binaries for programs and plugins
*.exe
*.exe~
.bug
.debug
.refactor
.feat

# 编译/打包产物: 仅忽略 bin 输出; build/ 下的 appicon.png 与各平台图标/配置需要入库
build/bin/

# Dependency directories (remove the comment below to include it)
# vendor/
.mimosa

# pbip
**/.pbi/localSettings.json
**/.pbi/cache.abf
